@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.home-comm {
  background-image: url("./components/images/summer.avif");
  background-size: cover;
  background-position: center;
}

.home-comm-label {
  font-family: 'Rubik', sans-serif;
}